@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --black: rgba(40, 40, 36, 1);
  --dark: rgba(20, 27, 52, 1);
  --gray: rgba(81, 79, 72, 1);
  --green: rgba(4, 150, 77, 1);
  --heading-1-font-family: "Instrument Sans", Helvetica;
  --heading-1-font-size: 32px;
  --heading-1-font-style: normal;
  --heading-1-font-weight: 700;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: normal;
  --heading-2-font-family: "Instrument Sans", Helvetica;
  --heading-2-font-size: 28px;
  --heading-2-font-style: normal;
  --heading-2-font-weight: 700;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: 140%;
  --heading-3-font-family: "Instrument Sans", Helvetica;
  --heading-3-font-size: 24px;
  --heading-3-font-style: normal;
  --heading-3-font-weight: 700;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: normal;
  --heading-4-font-family: "Instrument Sans", Helvetica;
  --heading-4-font-size: 18px;
  --heading-4-font-style: normal;
  --heading-4-font-weight: 700;
  --heading-4-letter-spacing: 0px;
  --heading-4-line-height: normal;
  --neutral-100: rgba(255, 255, 255, 1);
  --neutral-colors-100: rgba(255, 255, 255, 1);
  --paragraph-1-font-family: "Manrope", Helvetica;
  --paragraph-1-font-size: 16px;
  --paragraph-1-font-style: normal;
  --paragraph-1-font-weight: 400;
  --paragraph-1-letter-spacing: 0px;
  --paragraph-1-line-height: 160%;
  --paragraph-2-font-family: "Manrope", Helvetica;
  --paragraph-2-font-size: 14px;
  --paragraph-2-font-style: normal;
  --paragraph-2-font-weight: 400;
  --paragraph-2-letter-spacing: 0px;
  --paragraph-2-line-height: 160%;
  --paragraph-bold-font-family: "Instrument Sans", Helvetica;
  --paragraph-bold-font-size: 16px;
  --paragraph-bold-font-style: normal;
  --paragraph-bold-font-weight: 700;
  --paragraph-bold-letter-spacing: 0px;
  --paragraph-bold-line-height: normal;
  --white: rgba(252, 252, 248, 1);
  --yello: rgba(250, 233, 21, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
